.demo-container {
  --color-primary: var(--color-brand-3, #ff5f00);
  --color-title: var(--color-text1-2, #999);
  --color-subtitle: var(--color-text1-3, #999);
  --color-dark: var(--color-text1-4, #111);
  position: relative;
  width: 750rpx;
  height: 100vh;
  overflow: auto;
  background-color: #e4eaee;
}

.aaa {
  color: #ff5f00;
}
